<div class="wrapper">
  <h2>Meals and Workouts History</h2>

  <!-- Tabs for Meals and Workouts -->
  <div class="tabs">
    <button (click)="showWorkouts = true; showMeals = false" [class.active]="showWorkouts">Workouts</button>
    <button (click)="showMeals = true; showWorkouts = false" [class.active]="showMeals">Meals</button>
  </div>

  <!-- Display Workouts or Meals based on selected tab -->
  <div class="content">
    <!-- Workouts Section -->
    <div *ngIf="showWorkouts" class="workouts">
      <div class="workout" *ngFor="let workout of workouts">
        <div class="left">
          <h3>{{ workout.activity_name }}</h3>
          <p>{{ workout.activity_description }}</p>
          <p>Duration: {{ workout.duration }} minutes</p>
        </div>
        <div class="right">
          <p>By: {{ workout.username }}</p>
          <p>Created: {{ workout.date | date:'medium' }}</p>
          <button class="check-button" (click)="moveWorkoutToHistory(workout.activity_name)">Check</button>
        </div>
      </div>
    </div>

    <!-- Meals Section -->
    <div *ngIf="showMeals" class="meals">
      <div class="meal" *ngFor="let meal of meals">
        <div class="left">
          <h3>{{ meal.mealName }}</h3>
          <p>{{ meal.foodDescription }}</p>
          <p>Eaten: {{ meal.date | date:'medium' }}</p>
          <p>Time: {{ meal.mealTime.hour }}:{{ meal.mealTime.minute }} {{ meal.mealTime.period }}</p>
        </div>
        <div class="right">
          <p>By: {{ meal.username }}</p>
          <button class="check-button" (click)="moveMealToHistory(meal.mealName)">Check</button>
        </div>
      </div>
    </div>
  </div>
</div>
