/* Styling the outer container */
.youtube-player-container {
    overflow: hidden;
    margin-left:50px;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    
    
  }
  
  /* Styling the YouTube player iframe */
  .youtube-player-iframe {
    margin-left: 40px;
    border-radius: 70px;
  }

  .youtube-player-container-2
  {
    margin-left:53px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }