<div class="youtube-player-container">
    <youtube-player 
      class="youtube-player-iframe"
      videoId="wBNYccFR2MM" 
      suggestedQuality="highres" 
      [height]="250" 
      [width]="400" 
      [startSeconds]="4"
      [endSeconds]="8">
    </youtube-player>

    <youtube-player 
    class="youtube-player-iframe"
    videoId="NOT-a7eO0Rg" 
    suggestedQuality="highres" 
    [height]="250" 
    [width]="400" 
    [startSeconds]="4"
    [endSeconds]="8">
  </youtube-player>

  <youtube-player 
  class="youtube-player-iframe"
  videoId="PvGyMPWkusY" 
  suggestedQuality="highres" 
  [height]="250" 
  [width]="400" 
  [startSeconds]="4"
  [endSeconds]="8">
</youtube-player>

  </div>

  <div class="youtube-player-container-2">
    <youtube-player 
    class="youtube-player-iframe"
    videoId="yWnacRo2VbA" 
    suggestedQuality="highres" 
    [height]="250" 
    [width]="400" 
    [startSeconds]="4"
    [endSeconds]="8">
  </youtube-player>

  <youtube-player 
    class="youtube-player-iframe"
    videoId="5IYOeFYbS2Y" 
    suggestedQuality="highres" 
    [height]="250" 
    [width]="400" 
    [startSeconds]="4"
    [endSeconds]="8">
  </youtube-player>

  <youtube-player 
    class="youtube-player-iframe"
    videoId="7_Gmj7awnWY" 
    suggestedQuality="highres" 
    [height]="250" 
    [width]="400" 
    [startSeconds]="4"
    [endSeconds]="8">
  </youtube-player>
  

  </div>