 body{
  
    background-color: #c2b9b0;
} 
.container
{
    /* margin-top: -700px; */
    width: 100%;
    background: transparent;
    

}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #c2b9b0;
    color: #704214;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgba(194, 185, 176, 0.65), 0 2px 6px 0 rgba(194, 185, 176, 0.54);
    margin-top: 60px;
    width: 100%;
   
}

.col-sm-3{
    color: #704214;
}

.col-sm-9 input{
    color: #704214;
    background-color: #c2b9b0;
}
.me-2 {
    margin-right: .5rem!important;
}

.save-changes-btn {
    background-color: #704214;; /* Blue background color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Show pointer cursor on hover */
  }
  
  /* Style for the Save Changes button on hover */
  .save-changes-btn:hover {
    background-color: #d1a04d;/* Darker blue on hover */
  }

  

