* {
	background-color: black;
}

.navbar {
	margin: 0;
	padding: 0;
}

.main-heading
{
	color: yellow;
	font-size: 2.5rem;
	font-weight: 900;
	font-style: italic;
	text-transform: uppercase;
    margin-top: -650px;
    margin-left: 50px;
	overflow: hidden;
}

h2 {
	font-size: 25px;
	font-weight: bold;
	font-style: italic;
	/* Adjust the margin-top to add space between the greeting and the line */
	color: yellow;
	margin-left: 60px;
  }

  .home-navbar-bg {
    background-image: url("../../../assets/img/home-bg.jpg");
    /* Additional background styles if needed */
}