<body>
  <mat-toolbar [ngClass]="'navbar-bg'">
    <span (click)="navigateToHome()">One-Rep-Max</span>
    <div class="buttons-container">
      <button *ngIf="showWorkoutsButton" class="button-arounder" (click)="navigateToWorkouts()">Your Workouts</button>
      <button *ngIf="showMealsButton" class="button-arounder" (click)="navigateToMeals()">Your Meals</button>
      <button *ngIf="showMealsButton" class="button-arounder" (click)="Logout()">Log Out</button>
    </div>
    
  </mat-toolbar>
</body>
