mat-toolbar {
    background-color: black; /* Example background color */
    color: white;
    height: 50px; /* Example text color */
  }

  * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }

  body {
    background-image: url("../../../assets/img/home-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  /* Remove repetition */
    width: 100%;  /* Maintain full width for responsiveness */
    height: 100vh;
  }
  