<app-navbar [showMealsButton]="false" ></app-navbar>
<body>
  <div class="container">
    <div class="card">
      <h2>Forgot Password</h2>
      <form #forgotPasswordForm="ngForm" (ngSubmit)="forgetPassword()">
        <input type="text" id="email" name="email" [(ngModel)]="email" #emailInput="ngModel" required placeholder="Email">
        <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="text-danger">
          <small *ngIf="emailInput.errors && emailInput.errors['required']">Email is required.</small>
        </div>
        <button type="submit" [disabled]="forgotPasswordForm.invalid">Submit</button>
      </form>
      <div class="footer">
        <h5>Already have an account? <a (click)="navigateToAuth()">Sign In.</a></h5>
      </div>
    </div>
  </div>
  
</body>
