<app-navbar [showMealsButton]="false" ></app-navbar>
    <!-- <body>
        <div class="row">
            <h1>Forgot Password</h1>
            <h6 class="information-text">Enter your registered email to reset your password.</h6>
            <div class="form-group">
                <input type="email" placeholder="Email" [(ngModel)]="email" name="email" #emailInput="ngModel">
                <p><label for="username">Email</label></p>
                <button (click)="forgetPassword()">Reset Password</button>
            </div>
            <div class="footer">
                <h5>New here? <a href="auth">Sign Up.</a></h5>
                <h5>Already have an account? <a href="auth">Sign In.</a></h5>
            </div>
        </div>
    </body> -->


<body>
  <div class="container">
    <div class="card">
      <h2>Forgot Password</h2>
      <form #forgotPasswordForm="ngForm" (ngSubmit)="forgetPassword()">
        <input type="text" id="email" name="email" [(ngModel)]="email" #emailInput="ngModel" required placeholder="Email">
        <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="text-danger">
          <small *ngIf="emailInput.errors && emailInput.errors['required']">Email is required.</small>
        </div>
        <button type="submit" [disabled]="forgotPasswordForm.invalid">Submit</button>
      </form>
      <div class="footer">
        <h5>Already have an account? <a (click)="navigateToAuth()">Sign In.</a></h5>
      </div>
    </div>
  </div>
  
</body>
