    <app-navbar [showWorkoutsButton]="false" [showMealsButton]="false" ></app-navbar>
    <body>
        <div class="row">
            <h1>Forgot Password</h1>
            <h6 class="information-text">Enter your registered email to reset your password.</h6>
            <div class="form-group">
                <input type="email" placeholder="Email" [(ngModel)]="email" name="email" #emailInput="ngModel">
                <p><label for="username">Email</label></p>
                <button (click)="forgetPassword()">Reset Password</button>
            </div>
            <div class="footer">
                <h5>New here? <a href="auth">Sign Up.</a></h5>
                <h5>Already have an account? <a href="auth">Sign In.</a></h5>
            </div>
        </div>
    </body>
