
* {
    margin: 0;
    padding: 0;
  }
  
 
  body {
    background-color: black;
    color: #704214;
  }
  
  /* Container styles */
  #maincontainer {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    overflow: hidden; 
    background-color: white; 
    padding: 20px; 
    border: 2px solid #ddd; 
    border-radius: 5px; 
  }
  
  /* Results section styles */
  #resultsSection {
    width: 50%;
    float: left;
    padding: 20px;
    margin-top: 50px;
    box-sizing: border-box; 
    background-color: white; 
    border: 2px solid #ddd; 
    border-radius: 5px; 
  }
  
  /* Calculator container styles */
  #calulatorContainer {
    width: 50%;
    float: left;
    padding: 20px;
    box-sizing: border-box; 
    background-color: white; 
    border: 2px solid #ddd; 
    border-radius: 5px; 
  }
  
  /* Meal container styles */
  #mealContainer {
    width: 50%;
    float: right;
    padding: 20px;
    box-sizing: border-box; 
    background-color: white; 
    border: 2px solid #ddd; 
    border-radius: 5px;
  }
  
  /* Style for meal sections */
  .meal {
    margin-top: 20px; 
  }
  

  .meal h5 {
    text-decoration: underline;
  }
  

  .form-group {
    margin-bottom: 20px;
  }
  
  .form {
    margin-bottom: 10px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none; 
  }
  
  /* Style for select dropdown */
  select.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none; 
  }
  
  /* Style for radio buttons */
  #gender {
    margin-top: 10px;
  }
  
  .radio-inline {
    margin-right: 20px;
  }
  
  /* Style for activity and goal dropdowns */
  #activity,
  #goal {
    margin-bottom: 20px; 
  }
  

  label {
    font-weight: bold;
    color: #704214;
    margin-bottom: 8px; 
  }