
<body>
    <app-navbar [showMealsButton]="false" ></app-navbar>
    <div class="image-container">
        <img src="../../../assets/img/equipment.png" alt="Image Description">
      </div>
    <section>
        <div id="body-container">
            
            <div class="upper-body">
                <div class="upper-body-data focus" id="general" tabindex="1">General</div>
            </div>
            <div id="general-container">
                <div id="general-name">
                    
                </div>
                <form (ngSubmit)="saveData()">
                    <label class="email">Email: </label>
                    <input [(ngModel)]="formData.email" name="email" class="input-box" type="text"><br>
                    <label for="name1">Your name:</label>
                    <input [(ngModel)]="formData.name" name="name" class="input-box" type="text"><br>
                    
                    <label for="username">Username:</label>
                    <input [(ngModel)]="formData.username" name="usernmae" class="input-box BM-input" type="text"><span
                    class="input-box units">cm</span>
                    <br>
                </form>
            </div>
            <div class="save-button">
                <button type="submit" class="save" (click)="saveData()">Save</button>
            </div>
        </div>
    </section>
    </body>