<div class="support-grid"></div>

<div class="band">
  <div class="item-1">
        <a href="https://www.health.harvard.edu/exercise-and-fitness/two-workout-strategies-that-reduce-cardiovascular-disease-risk" class="card">
          <div class="thumb" style="background-image: url(https://domf5oio6qrcr.cloudfront.net/medialibrary/15042/conversions/8acb5578-6ac9-4b73-8a37-f3f608a97a03-thumb.jpg);"></div>
          <article>
            <h1>Two workout strategies that reduces cardiovascular disease risk</h1>
            <span>Heidi Godman</span>
          </article>
        </a>
  </div>
  <div class="item-2">
        <a href="https://www.nuffieldhealth.com/article/is-changing-your-exercise-routine-worth-it" class="card">
          <div class="thumb" style="background-image: url(https://www.nuffieldhealth.com/_image/thumbnail/500x300%5E/?url=https://www.nuffieldhealth.com/local/95/72/878c9d4b4d32a10b9c8d734186da/new-project-2024-03-22t115332.327.png);"></div>
          <article>
            <h1>Is changing your exercise routine worth it?</h1>
            <span>Harry Brignull</span>
          </article>
        </a>
  </div>
  <div class="item-3">
    <a href="https://www.nuffieldhealth.com/article/11-ways-youre-exercising-without-knowing-it" class="card">
      <div class="thumb" style="background-image: url(https://www.nuffieldhealth.com/_image/thumbnail/500x300%5E/?url=https://www.nuffieldhealth.com/local/5c/14/d49058e14f3cbc0814479f3933ea/new-project-2024-03-21t165842.679.png);"></div>
      <article>
        <h1>11 ways you’re exercising (without knowing it)</h1>
        
        <span>Melody Nieves</span>
      </article>
    </a>
  </div>
  <div class="item-4">
        <a href="https://www.nuffieldhealth.com/article/new-to-the-gym-here-are-5-tips-for-new-starters" class="card">
          <div class="thumb" style="background-image: url(https://www.nuffieldhealth.com/_image/thumbnail/500x300%5E/?url=https://www.nuffieldhealth.com/local/da/be/34696fac4574b9f37d96438d277d/treadmill-running.jpg);"></div>
          <article>
            <h1>5 tips for beginners at the gym</h1>

            <span>Kezz Bracey</span>
          </article>
        </a>
  </div>
  <div class="item-5">
        <a href="https://www.nuffieldhealth.com/article/how-to-exercise-the-right-way-during-ramadan" class="card">
          <div class="thumb" style="background-image: url(https://www.nuffieldhealth.com/_image/thumbnail/500x300%5E/?url=https://www.nuffieldhealth.com/local/e6/dd/68daed3f4d718694325c920df0ef/new-project-2024-03-08t103005.195.png);"></div>
          <article>
            <h1>How to exercise the right way during Ramadan</h1>
            <span>Rose</span>
          </article>
        </a>
  </div>
  <div class="item-6">
    <a href="https://www.nuffieldhealth.com/article/what-is-resistance-training" class="card">
      <div class="thumb" style="background-image: url(https://www.nuffieldhealth.com/_image/thumbnail/500x300%5E/?url=https://www.nuffieldhealth.com/local/fd/e2/f6c3775144e8865635aa5e6166ff/resistance-training500x300.jpg);"></div>
      <article>
        <h1>What is resistance training? All you need to know before you start</h1>
        
        <span>Marie Gardiner</span>
      </article>
    </a>
  </div>
  <div class="item-7">
    <a href="https://www.nuffieldhealth.com/article/busting-resistance-training-myths" class="card">
      <div class="thumb" style="background-image: url(https://www.nuffieldhealth.com/_image/thumbnail/500x300%5E/?url=https://www.nuffieldhealth.com/local/a4/12/ed91703e4cf198ce3bdd0ee03649/new-project-2024-01-24t115811.077.png);"></div>
      <article>
        <h1>Busting resistance training myths</h1>
        <span>Kendra Schaefer</span>
      </article>
    </a>
  </div>
</div>