<body>
    <app-navbar [showMealsButton]="false" [showWorkoutsButton]="false"></app-navbar>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form id="msform" (ngSubmit)="onSubmit()">
                <fieldset>
                    <h2 class="fs-title">Your Meals</h2>
                    <h3 class="fs-subtitle"></h3>
                    <input type="text" name="fname" placeholder="Meal Name" class="custom-input"
                        [(ngModel)]="selectedMealName" readonly/>
                    <!-- Dropdown for meal types -->
                    <select name="mealType" id="mealType-select" class="custom-select" [(ngModel)]="selectedMealType" (change)="onMealTypeChange()">
                        <option value="" disabled selected>--Please choose a meal type--</option>
                        <ng-container *ngFor="let mealPlan of mealPlans">
                            <ng-container *ngFor="let mealType of mealPlan.meal_plan">
                                <option [value]="mealType.meal_type">{{ mealType.meal_type }}</option>
                            </ng-container>
                        </ng-container>
                    </select>
                    <div *ngIf="selectedMeals.length > 0" style="color: black;">
                        <h3>{{ selectedMealType }} <button type="submit" class="completed-button">Done?</button>
                        </h3>
                        <div *ngFor="let meal of selectedMeals">
                            <p style="color: black;">Name: {{ meal.name }}</p>
                            <p style="color: black;">Description: {{ meal.description }}</p>
                            <hr style="background-color: white;">
                            <br>
                        </div>
                    </div>
                    <div class="textarea-container">
                        <h2 class="fs-title">Your Meals History</h2>
                        <textarea name="mealHistories" placeholder="Meal Histories"
                            class="custom-textarea" readonly>{{ formattedMealHistories }}</textarea>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>
</body>