<meta charset="UTF-8">
<!-- Fontawesome CDN Link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<app-navbar [showWorkoutsButton]="false" [showMealsButton]="false" ></app-navbar>
<div class="body-container">
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">



        
        <img src="../../../assets/img/Dumbell.jpg" alt="">
        <div class="text">
        </div>
      </div>
      <div class="back">
        <img class="backImg" src="../../../assets/img/hero-bg.png" alt="">
        <div class="text">
          <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
<!-- authentication.component.html -->

<div class="forms">
  <div class="form-content">
    <div [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="title">Login</div>
      <form [formGroup]="loginForm">
        <div class="input-boxes">
          <div class="input-box">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Enter username" formControlName="username">
            <!-- Use formControlName for username -->
          </div>
          <div class="input-box">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Enter your password" formControlName="password">
            <!-- Use formControlName for password -->
          </div>
          <div class="text"><a (click)="navigateToForgotPassword()">Forgot password?</a></div>
          <div class="button input-box">
            <input type="submit" value="Submit" [disabled]="loginForm.invalid">
            <!-- Disable the submit button if the form is invalid -->
          </div>
          <div class="text sign-up-text">Don't have an account? <label for="flip">Sigup now</label></div>
        </div>
      </form>
    </div>
    <div class="signup-form">
      <div class="title">Signup</div>
      <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
        <div class="input-boxes">
          <div class="input-box">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Enter your name" formControlName="name">
          </div>
          <div class="input-box">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Enter username" formControlName="username">
          </div>
          <div class="input-box">
            <i class="fas fa-envelope"></i>
            <input type="text" placeholder="Enter your email"formControlName="email">
          </div>
          <div class="input-box">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Enter your password"formControlName="password">
          </div>
          <div class="button input-box">
            <input type="submit" value="Sumbit" [disabled]="signupForm.invalid">
          </div>
          <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
        </div>
      </form>
    </div>
  </div>
</div>

  </div>
</div>