@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&display=swap");

:root {
  --primary-font: "Poppins", sans-serif;
  --primary-color: #f9ef23; /* Yellow color */
  --secondry-color: #141414; /* Black color */
  --third-color: #ffffff; /* White color */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.html-container {
  font-size: 16px;
  font-weight: 400;
}

.form-heading {
  text-align: center; /* Center align text */
  margin-bottom: -130px;
  margin-top: 40px;
  color: yellow;
  font-size: 2.5rem;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  margin-top: -680px;
}

.body-container {
  background-color: var(--secondry-color);
  font-family: var(--primary-font);
  background-image: url(../../../assets/img/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  /* Remove repetition */
  width: 100%;  /* Maintain full width for responsiveness */
  height: 100vh;
}

.container {
  padding: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

.heading {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 900;
  font-style: italic;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.white {
  color: var(--third-color);
}

.hero .container {
  padding: 2.5rem 5rem;
}
.hero {
  height: 100vh;
  background-position: top center;
  background-size: cover;
}

.logo {
  color: var(--third-color);
  font-weight: 1000;
}

.contents {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-heading {
  color: var(--third-color);
  font-size: 2.5rem;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
}

.main-heading span {
  color: var(--primary-color);
}

.btn {
  margin-top: 1rem;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  padding: 0.8rem 2rem;
  transition: 0.5s;
}

.btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.btn a {
  color: var(--secondry-color);
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.form-style-7 {
  max-width: 600px;
  margin: 50px auto;
  border-radius: 15px;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: rgba(31, 30, 30, 0.8);
  margin-top: -600px;
}

.form-style-7 h1 {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0px 0px 20px 0px;
  color: #5c5c5c;
  font-size: x-large;
}

.form-style-7 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-style-7 li {
  display: block;
  padding: 9px;
  border: 1px solid #dddddd;
  margin-bottom: 30px;
  border-radius: 3px;
}

.form-style-7 li:last-child {
  border: none;
  margin-bottom: 0px;
  text-align: center;
}

.form-style-7 li > label {
  display: block;
  float: left;
  margin-top: -19px;
  background: rgb(40, 39, 39);
  height: 19px;
  padding: 2px 5px 2px 5px;
  color: #b9b9b9;
  font-size: 14px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  transition: black 0.3s ease; 
}

.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  color: white;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #141414;
  background-color: transparent;
}

.form-style-7 select option {
  background-color: rgb(50, 49, 49);
  color: white;
}

.form-style-7 select option:hover {
  background-color: black;
}

.form-style-7 select option:focus {
  background-color: #222;
}

.form-style-7 li > span {
  background: black;
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: #c0c0c0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  background-color: transparent;
}

.form-style-7 textarea {
  resize: none;
  background-color: #141414;
  background-color: transparent;
}

.form-style-7 input[type="submit"],
.form-style-7 input[type="button"] {
  background: #2471ff;
  border: none;
  padding: 10px 20px 10px 20px;
  border-bottom: 3px solid #5994ff;
  border-radius: 9px;
  color: #d2e2ff;
}

.form-style-7 .btn-next button {
  border-radius: 5px; /* Add border radius */
  cursor: pointer; /* Add cursor pointer */
  margin-left: 250px;
  margin-top: -40px;
	background-color:#f9ef23;
	border: none;
	outline: none;
	padding: 0.8rem 2rem;
	transition: .5s;
}

.form-style-7 .btn-next button:hover {
  background-color: #0056b3; /* Change background color on hover */
}
