.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;

  }
  
  h2 {
    text-align: center;
    color: #704214;
  }

  
  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tabs button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    color: #704214;
  }
  
  .tabs button {
    margin-top: 40px;
    font-weight: bold;
    color: #704214;
  }

  .tabs button:hover {
    margin-top: 40px;
    font-weight: bold;
  
  }
  
  .content {
    border: 1px solid #ddd;
    padding: 20px;
  }
  
  .workout,
  .meal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #704214;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .left {
    flex: 1;
    
  }
  
  .right {
    flex: 1;
    text-align: right;
  }
  
  .check-button {
    padding: 8px 16px;
    background-color: #704214;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
