<app-navbar [showMealsButton]="false" ></app-navbar>
<!-- <body>
    <div class="row">
        <h1>Reset Password</h1>
        <h6 class="information-text">Enter your new password</h6>
        <div class="form-group">
            <input type="password" placeholder="password" [(ngModel)]="password" name="passowrd" #emailInput="ngModel">
            <p><label for="username">Password</label></p>
            <button (click)="resetPassword()">Reset Password</button>
        </div>
        <div class="footer">
            <h5>New here? <a href="auth">Sign Up.</a></h5>
            <h5>Already have an account? <a href="auth">Sign In.</a></h5>
        </div>
    </div>
</body> -->


<body>
    <div class="container">
        <div class="card">
          <h2>Reset Your Password!</h2>
          <form>
            <input type="password" id="password" name="password" [(ngModel)]="password" name="passowrd" #emailInput="ngModel">
            <button type="submit" (click)="resetPassword()"> Submit </button>
          </form>
        </div>
      </div>
    </body>
    